# Node.js & React dependencies
node_modules/
client/node_modules/
server/node_modules/

# Environment variables
.env
client/.env
server/.env


client/src/routes/Admin/balnk.jsx
client/src/redux/slices/blank.jsx